<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <a class='brand'>Test</a>
            <ul class='nav'>
                <li><a>Item 1</a></li>
                <li><a>Item 2</a></li>
            </ul>
            <form class="navbar-search pull-left">
                <div class='input-prepend'>
                    <select style="width: 80px">
                        <option>People </option>
                        <option>Model</option>
                        <option>Make</option>
                        <select>
                    <input/ > 
                    <button type="submit" class="btn">Search</button>
                </div>
                
              
                
            </form>
        </div>
    </div>
</div>


<style type="text/css">
    .navbar-search {
  margin-top: 4px;
}

.navbar .btn, .navbar .btn-group {
  margin-top: 1px;
}

.navbar-search select {
  position: relative;
  left: 84px;
  z-index: 99;
}

.navbar-search input {
  padding-left: 84px;
}

.navbar-search select,
.navbar-search input {
margin-bottom: 0px;
}
</style>