
<div class="form-group row">
   <%= f.label :contact_no, "Contact No:", class: "col-4 col-form-label" %>
   <div class="col-8">
     <%= f.text_field :contact_no, required: true, class: 'form-control' %>
   </div>
</div>